@charset "utf-8";
/***
@Author:     webpoin
@Email:      1357113262@qq.com
***/

html{*border:none;;overflow-y:scroll; overflow-x:auto;height: 100%;width: 100%;position: relative;}
body{margin:0;font:normal 0.8em/1.5 "微软雅黑", Arial,Tahoma,Helvetica,sans-serif;color:#333;width: 100%;min-width:1000px;background:#fff; }
h1,h2,h3,h4,h5,h6,ol,ul,p,form,dl{margin-top:0;margin-bottom:0}
img{border:none;vertical-align:top;}
ol,ul,dd{padding-left:0;margin-left:0; }
ul{list-style-type:none;}
a{text-decoration:none;white-space:nowrap;color: inherit;}
header,nav,section,article,footer{display:block;margin:0;}



h1 {font-size:xx-large;}
h2 {font-size:x-large;}
h3 {font-size:large;}
h4 {font-size:medium;}
h5 {font-size:small;}
h6 {font-size:x-small;}

/*公共定义*/
.fl{float:left;} .fr{float:right;}
.cs{zoom:1;} .cs:after{content:" ";display: block;visibility:hidden;height: 0;clear: both;}
.oh{overflow:hidden;} .oa{overflow:auto; }
.se{overflow:hidden;text-indent:-999em;*background:url(no.gif); }
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}.ti{text-indent:2em;}
.db{display:block;} .di{display:inline;} .dk{display:inline-block;*display:inline;*zoom:1;}
.did,.dil,.dia,.dd,.dl,.da{letter-spacing:-0.5em;*letter-spacing:normal;font-family: sans-serif;font-size: 12px;}
.dia{*word-spacing:-0.5em; }.dia>a{*word-spacing:normal;}
.did>div,.dil>li,.dia>a,.dd>div,.dl>li,.da>a{display:inline-block;*display:inline;letter-spacing:normal;vertical-align:top;}
.vt{vertical-align:top;}.vb{vertical-align:bottom; }.vm{vertical-align:middle; }
.pr{position:relative;}.pa{position:absolute;}
.clear{ clear: both;}

.center{width: 1000px;margin:auto;position: relative; }


.header{position: relative;height: 84px;line-height: 84px;background: rgba(0,0,0,0.9);behavior:url(css/pie.htc);}
.header_logo{position: absolute;left: 50%;margin-left: -600px;font-size: 36px;font-weight: normal;color: #fff;}
.header_logo img{height: 50px;vertical-align: -10px;margin-right: 10px;}



.banner{position: relative;width: 100%;overflow: hidden;}
.banner img{position: relative;left: 50%;margin-left: -900px;width: 1800px;}
.banner1{position: relative;z-index: 1; box-shadow: 0 5px 10px rgba(0,0,0,0.4); behavior:url(css/pie.htc);}

.paying{position: relative; height: 1272px;background: url(../images/paying_bkg.jpg) no-repeat top center;}
.paying h2{font-size: 48px;text-align: center;color: #ff761b;padding-top: 50px;}
.paying h2 strong{font-size: 68px;}
.paying h2 small {font-size: 44px;display: block;color: #000;font-weight: normal;}
.paying li{position: absolute;width: 480px;}
.paying li img{width: 128px;height: 128px;}
.paying h3{font-size: 26px;color: #000;line-height: 70px;}
.paying p{font-size: 18px;line-height: 20px;color: #4e4e4e;}
.paying_1{left: 50%;margin-left: -520px;top: 240px;}
.paying_2{right: 50%;margin-right: -476px;top: 410px;text-align: right;}
.paying_3{left: 50%;margin-left: -520px;top: 600px;}
.paying_4{right: 50%;margin-right: -476px;top: 800px;text-align: right;}
.paying_5{left: 50%;margin-left: -520px;top: 980px;}





/*课程*/
.course{width: 1000px;margin: 20px auto 0;}
.course h2{text-align: center;color: #383838;font-weight: normal;font-size: 55px;}
.course h2 strong{display: block;font-size: 72px;font-weight: normal;}
.course h2 span{font-size: 36px;color: #ffa800;display: block;}
.course em{font-size: 26px;font-style: normal;}
.course h3{font-size: 24px;line-height: 82px;padding-top: 18px;}
.course table{width: 100%;}
.course td{background: #efefef;text-align: center;padding: 0 20px;font-size: 12px;color: #646464;}
.course td.course_pic{padding: 0;}
.course thead th{height: 34px;line-height: 34px;padding: 0;font-size: 16px;color: #fff;}

.course_1 h3{color: #19adc9;}
.course_1 thead th{background: #19adc9;}
.course_1 tbody th{background: #d9f4f9;}

.course_2 h3{color: #d94369;}
.course_2 thead th{background: #d94369;}
.course_2 tbody th{background: #f8d1db;}

.course_3 h3{color: #f1b932;}
.course_3 thead th{background: #f1b932;}
.course_3 tbody th{background: #f8d1db;}

.course_4 h3{color: #84b123;}
.course_4 thead th{background: #84b123;}
.course_4 tbody th{background: #e6f4c8;}

.course_5 h3{color: #6c23b1;}
.course_5 thead th{background: #6c23b1;}
.course_5 tbody th{background: #e9d1ff;}




.envir{overflow: hidden;width: 1038px;margin: 120px auto 0;}
.envir h2{font-size: 48px;font-weight: normal;text-align: center;margin-bottom: 50px;}
.envir h2 strong{font-size: 75px;font-weight: normal;}
.envir h2 b{font-size: 60px;font-weight: normal;}
.envir h2 small{display: block;font-size: 20px;}

.envir_pic a{margin: 3px;float: left; filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);}
.envir_pic a:hover{filter:none;-webkit-filter:none;}



.team{background: #262626;margin-top: 66px;padding-top: 85px;}
.team h2{font-size: 48px;font-weight: normal;text-align: center;margin-bottom: 50px;color: #fff;}
.team h2 strong{font-size: 75px;}
.team h2 b{font-size: 60px;font-weight: normal;}
.team h2 small{display: block;font-size: 20px;}


.team ul{overflow: hidden;margin: 0 auto;padding-top: 30px;padding-bottom: 115px; width: 1010px;color: #fff;font-size: 14px;line-height: 22px;}
.team li{width: 190px;float: left;margin: 0 6px;}
.team ul cite{position: relative;display: block;width: 190px;height: 350px;}
.team ul cite:after{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: url(../images/team_mark.png) no-repeat;}
.team_up{display: block;width: 24px;height: 24px;margin: 0 auto; background: url(../images/team_jiantou.png) no-repeat;}
.team_dn{display: block;width: 24px;height: 24px;margin: 0 auto; background: url(../images/team_jiantou.png) no-repeat right bottom;}

.team h3{position: relative; font-size: 20px;font-weight: normal;text-align: right;margin-top: -10px;}
.team h4{position: relative;font-size: 20px;font-weight: normal;text-align: right; color: #ff5400;margin-bottom: 5px;}
.team p{margin: 0 3px;}


.links {height: 902px;background: url(../images/team_bkg.jpg) no-repeat top center;padding-top: 80px;}
.links h2{font-size: 48px;font-weight: normal;text-align: center;margin-bottom: 50px;color: #000;}
.links h2 strong{font-size: 75px;}
.links h2 b{font-size: 60px;font-weight: normal;}
.links h2 small{display: block;font-size: 20px;}

.links_pic{text-align: center;}
.links_pic a{display: inline-block;width: 181px;height: 156px; margin: 0 54px -74px;}


.ask{position: relative;height: 470px;text-align: center; padding-top: 100px;background: url(../images/ask_bkg.png) no-repeat top center;}
.ask h2{font-weight: normal;height: 220px; color: #343434;font-size: 38px;text-align: center;line-height: 100px;margin-top: 30px;}
.ask h2 strong{font-size: 72px;display: block;color: #000;}
.ask ul{width: 510px;padding-left: 30px;margin: 50px auto 0;overflow: hidden;}
.ask li{float: left; width: 210px;color: #363636;font-size: 26px;text-align: left;}
.ask li span{display: block;line-height: 40px; padding-left: 50px;}
.ask li a{display: block;line-height: 78px;text-align: center;font-size: 40px;color: #363636;background: url(#);}



.footer{height: 125px;background: #333;text-align: right;padding-top: 38px;color: #777;}
.footer_center{width: 1200px;position: relative;margin: 0 auto;}
.footer h2{margin-right: 112px;font-size: 36px;}
.footer h2 img{vertical-align: -7px;margin-right: 5px;}
.footer p{margin-right: 112px;font-size: 13px;line-height: 24px;}


.fixed_left{position: fixed;left: 5px;background: #75af3f; top: 50%;margin-top: -235px;z-index: 999;}
.fixed_left h2{font-size: 15px;height: 39px;text-indent: 6px; line-height: 40px; color: #fff;margin-right: -30px; background: url(../images/fixed_tle.png) right top;}
.fixed_left a{display: block;position: relative; background: #fff;margin: 0 6px 4px;font-size: 18px;font-weight: bold;color: #75af3f; width: 148px;height: 68px;line-height: 68px;text-indent: 17px;}
.fixed_left a:before{content: '';position: absolute;top: 50%;margin-top: -8px;right: 20px; border-style:solid;border-width: 8px 0 8px 13px;;border-color: transparent transparent transparent #75af3f; }
.fixed_left a:after{content: '';position: absolute;top: 50%;margin-top: -6px;right: 22px; border-style:solid;border-width: 6px 0 6px 10px;border-color: transparent transparent transparent #fff; }

.fixed_right{position: fixed;right: 5px;background: #fff;width: 150px;padding: 12px 5px; top: 50%;margin-top: -235px;z-index: 999;}
.fixed_right h2{font-size: 20px;font-weight: normal;text-align: center;color: #000;}
.fixed_right h2 strong{font-size: 26px;display: block;line-height: 30px;font-weight: normal;}
.fixed_right h6{font-size: 15px;color: #ff7800;border-bottom: 1px solid #000;line-height: 36px;font-weight: normal;text-align: center;}
.fixed_right a{display: block; width: 140px;font-size: 18px;font-weight: bold;margin: 12px auto; height: 42px;line-height: 42px;background: url(../images/fixed_border.png) no-repeat;}
.fixed_right a img{vertical-align: middle;margin-left: 15px;margin-right: 5px;}







